<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="offers">
    <f:if condition="{offers -> f:count()} > 1">
        <f:then>
            <div class="accordion" id="accordionOfferPrices">
                <f:for each="{offers}" as="offer" key="key">
                    <f:if condition="{offer.type} != 'GuidedTourOffer'">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="offerPricesGroup{key}">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#offerPriceGroup{key}" role="button" aria-expanded="false" aria-controls="offerGroup{key}">
                                    <f:if condition="{offer.title}"><f:then>{offer.title} <small>({f:translate(id: 'content.price.type.{offer.type}', default: offer.type, extensionName: 'Thuecat')})</small></f:then><f:else>Preisgruppe</f:else></f:if>
                                </button>
                            </h2>
                            <div class="accordion-collapse collapse" id="offerPriceGroup{key}">
                                <div class="accordion-body">
                                    <f:if condition="{offer.description}">
                                        <div class="description">
                                            <p><small>{offer.description}</small></p>
                                        </div>
                                    </f:if>
                                    <table class="table">
                                        <f:for each="{offer.prices}" as="price">
                                            <tr>
                                                <td>
                                                    <span>{price.title}</span>
                                                </td>
                                                <td>
                                                    {price.price -> f:format.currency(decimalSeparator: ',', thousandsSeparator: '.', decimals: 2, currencySign: price.currency)}
                                                    <small>{f:translate(id: 'content.price.rule.{price.rules.0}', default: price.rule, extensionName: 'Thuecat')}</small>
                                                </td>
                                            </tr>
                                                <f:if condition="{price.description}">
                                                    <tr>
                                                        <td colspan="2" class="description">
                                                            <small>{price.description}</small>
                                                        </td>
                                                    </tr>
                                                </f:if>
                                        </f:for>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </f:if>
                </f:for>
            </div>
        </f:then>
        <f:else>
            <f:for each="{offers}" as="offer" key="key">
                <f:if condition="{offer.type} != 'GuidedTourOffer'">
                    <div class="offer-group">
                        <div class="content">
                            <h4>{offer.title} <small>({f:translate(id: 'content.price.type.{offer.type}', default: offer.type, extensionName: 'Thuecat')})</small></h4>
                            <f:if condition="{offer.description}">
                                <div class="description">
                                    <p>{offer.description}</p>
                                </div>
                            </f:if>
                            <f:for each="{offer.prices}" as="price">
                                <table class="table">
                                    <f:for each="{offer.prices}" as="price">
                                        <tr>
                                            <td>
                                                <span>{price.title}</span>
                                            </td>
                                            <td>
                                                {price.price -> f:format.currency(decimalSeparator: ',', thousandsSeparator: '.', decimals: 2, currencySign: price.currency)}
                                                <small>{f:translate(id: 'content.price.rule.{price.rules.0}', default: price.rule, extensionName: 'Thuecat')}</small>
                                            </td>
                                        </tr>
                                            <f:if condition="{price.description}">
                                                <tr>
                                                    <td colspan="2" class="description">
                                                        <small>{price.description}</small>
                                                    </td>
                                                </tr>
                                            </f:if>
                                    </f:for>
                                </table>
                            </f:for>
                        </div>
                    </div>
                </f:if>
            </f:for>
        </f:else>
    </f:if>
</div>
</html>
