includes:
  - 'phpstan-baseline.neon'
parameters:
  level: 'max'
  paths:
    - 'Classes'
    - 'Configuration'
    - 'Tests'
  excludePaths:
    - 'Tests/Acceptance/Support/_generated/'
    - 'Classes/Domain/Import/EntityMapper/CustomAnnotationExtractor.php'
  reportUnmatchedIgnoredErrors: true
  ignoreErrors:
    - identifier: 'missingType.generics'
    - identifier: 'missingType.iterableValue'
    - message: "#^Call to function method_exists\\(\\) with .* will always evaluate to false\\.$#"
