includes:
    - phpstan-baseline.neon
parameters:
    level: max
    paths:
        - Classes
        - Configuration
        - Tests
    excludePaths:
      - Tests/Acceptance/Support/_generated/
      - Classes/Domain/Import/EntityMapper/CustomAnnotationExtractor.php
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: true
    checkGenericClassInNonGenericObjectType: false
