<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:for each="{entities}" as="entity">
        <h5>{entity.title} ({entity.town.title})</h5>
        {entity.slogan}
        {entity.description -> f:format.html()}

        <f:if condition="{entity.media.mainImage}">
            <f:image src="{entity.media.mainImage.url}" />
        </f:if>

        <f:for each="{entity.openingHours}" as="openingHour">
            <p>
                <f:for each="{openingHour.daysOfWeekWithMondayFirstWeekDay}" as="weekday">
                    {weekday}: {openingHour.opens} - {openingHour.closes}<br>
                </f:for>
                {openingHour.from -> f:format.date(format: 'd.m.Y')} -
                {openingHour.through -> f:format.date(format: 'd.m.Y')}
            </p>
        </f:for>

        <f:if condition="{entity.address}">
            <p>
                {entity.address.street}<br>
                {entity.address.zip} {entity.address.city}<br>
                {entity.address.email}<br>
                {entity.address.phone}<br>
                {entity.address.fax}
            </p>
        </f:if>

        <f:if condition="{entity.offers}">
            <f:for each="{entity.offers}" as="offer">
                <h3>{offer.title}</h3>
                <f:if condition="{offer.description}">
                    <p>{offer.description}</p>
                </f:if>
                <f:for each="{offer.prices}" as="price">
                    <h4>{price.title}</h4>
                    <f:if condition="{price.description}">
                        <p>{price.description}</p>
                    </f:if>
                    {price.price -> f:format.currency(decimalSeparator: ',', thousandsSeparator: '.', decimals: 2, currencySign: price.currency)}
                    {f:translate(id: 'content.price.rule.{price.rule}', default: price.rule, extensionName: 'Thuecat')}
                </f:for>
            </f:for>
        </f:if>

        {entity.startOfConstruction}
    </f:for>
</html>
