<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:for each="{entities}" as="entity">
        <h5>{entity.title} ({entity.town.title})</h5>
        {entity.slogan}
        {entity.description -> f:format.html()}

        <f:if condition="{entity.media.mainImage}">
            <f:image src="{entity.media.mainImage.url}" />
        </f:if>

        <f:for each="{entity.openingHours}" as="openingHour">
            <p>
                <f:for each="{openingHour.daysOfWeekWithMondayFirstWeekDay}" as="weekday">
                    {weekday}: {openingHour.opens} - {openingHour.closes}<br>
                </f:for>
                {openingHour.from -> f:format.date(format: 'd.m.Y')} -
                {openingHour.through -> f:format.date(format: 'd.m.Y')}
            </p>
        </f:for>

        <f:if condition="{entity.address}">
            <p>
                {entity.address.street}<br>
                {entity.address.zip} {entity.address.city}<br>
                {entity.address.email}<br>
                {entity.address.phone}<br>
                {entity.address.fax}
            </p>
        </f:if>

        <f:if condition="{entity.offers}">
            <f:for each="{entity.offers}" as="offer">
                <h3>{offer.title}</h3>
                <f:if condition="{offer.description}">
                    <p>{offer.description}</p>
                </f:if>
                <f:for each="{offer.prices}" as="price">
                    <h4>{price.title}</h4>
                    <f:if condition="{price.description}">
                        <p>{price.description}</p>
                    </f:if>
                    {price.price -> f:format.currency(decimalSeparator: ',', thousandsSeparator: '.', decimals: 2, currencySign: price.currency)}
                    {f:translate(id: 'content.price.rule.{price.rule}', default: price.rule, extensionName: 'Thuecat')}
                </f:for>
            </f:for>
        </f:if>

        {entity.startOfConstruction}

        <f:for each="{entity.sanitation}" as="sanitation">
            {f:translate(id: 'content.sanitation.{sanitation}', default: sanitation, extensionName: 'thuecat')}
        </f:for>

        <f:for each="{entity.otherServices}" as="service">
            {f:translate(id: 'content.otherService.{service}', default: service, extensionName: 'thuecat')}
        </f:for>

        <f:for each="{entity.museumServices}" as="service">
            {f:translate(id: 'content.museumService.{service}', default: service, extensionName: 'thuecat')}
        </f:for>

        <f:for each="{entity.architecturalStyles}" as="style">
            {f:translate(id: 'content.architecturalStyle.{style}', default: style, extensionName: 'thuecat')}
        </f:for>

        <f:for each="{entity.trafficInfrastructures}" as="trafficInfrastructure">
            {f:translate(id: 'content.trafficInfrastructure.{trafficInfrastructure}', default: trafficInfrastructure, extensionName: 'thuecat')}
        </f:for>

        <f:for each="{entity.paymentAccepted}" as="payment">
            {f:translate(id: 'content.paymentAccepted.{payment}', default: payment, extensionName: 'thuecat')}
        </f:for>

        <f:for each="{entity.digitalOffer}" as="offer">
            {f:translate(id: 'content.digitalOffer.{offer}', default: offer, extensionName: 'thuecat')}
        </f:for>

        <f:for each="{entity.photography}" as="photography">
            {f:translate(id: 'content.photography.{photography}', default: photography, extensionName: 'thuecat')}
        </f:for>

        {f:translate(id: 'content.petsAllowed.{entity.petsAllowed}', default: entity.petsAllowed, extensionName: 'thuecat')}
        {f:translate(id: 'content.isAccessibleForFree.{entity.isAccessibleForFree}', default: entity.isAccessibleForFree, extensionName: 'thuecat')}
        {f:translate(id: 'content.publicAccess.{entity.publicAccess}', default: entity.publicAccess, extensionName: 'thuecat')}

        <f:for each="{entity.availableLanguages}" as="language">
            {f:translate(id: 'content.availableLanguage.{language}', default: language, extensionName: 'thuecat')}
        </f:for>

        <f:if condition="{entity.distanceToPublicTransport}">
            {f:translate(id: 'content.distanceToPublicTransport', extensionName: 'thuecat')} {entity.distanceToPublicTransport.value} {f:translate(id: 'content.unit.{entity.distanceToPublicTransport.unit}', default: entity.distanceToPublicTransport.unit, extensionName: 'thuecat')}
        </f:if>
    </f:for>
</html>
